.banner_wrapper {
  padding-left: 10%;
  padding-right: 10%;
}

.image {
  margin: 48px 0;
}

.image img {
    width: 100%;
}

.brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
}